:root {
    /* To be refactored */
    --CUSTOM-CHROME-COLOR-MAIN-BG: #4D4D4D;
    --CUSTOM-CHROME-COLOR-SEARCHBAR-BG: #131313;
    --CUSTOM-CHROME-COLOR-TAB-TEXT: #FFF;

    /* Chrome */
    --CUSTOM-CHROME-COLOR-TITLE-BG: #494949;
    --CUSTOM-CHROME-COLOR-ICON-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-ICON-HOVER-BG: #5e5e5e;
    --CUSTOM-CHROME-COLOR-TABS-BG: #181818;
    --CUSTOM-CHROME-COLOR-TABS-SELECT-BG: #2e2e2e;
    --CUSTOM-CHROME-COLOR-TABS-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-TABS-SELECT-TEXT: #FFF;
    --CUSTOM-CHROME-SIZE-TITLE-HEIGHT: 32px;
    --CUSTOM-CHROME-SIZE-TABS-GAP: 1px;
    --CUSTOM-CHROME-SIZE-TABS-BORDER-RADIUS: 9px;
    --CUSTOM-CHROME-BORDER-TABS-MULTISELECT: 2px solid #008cff;
    --CUSTOM-CHROME-BORDER-TABS-MULTISELECT: 2px solid #008cff;

    /* Chrome - Urlbar */
    --CUSTOM-CHROME-COLOR-URLBAR-BG: #111;
    --CUSTOM-CHROME-COLOR-URLBAR-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-URLBAR-LINK-TEXT: #00d9ff;
    --CUSTOM-CHROME-COLOR-URLBAR-HOVER-BG: #313131;
    --CUSTOM-CHROME-COLOR-URLBAR-SELECT-BG: #0085ff;
    --CUSTOM-CHROME-COLOR-URLBAR-SELECT-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-URLBAR-OUTLINE: #00d9ff;

    /* Chrome - Toolbar */
    --CHROME-TOOLBAR-BG: #2e2e2e;
    --CHROME-TOOLBAR-EDGE-BORDER: 1px solid black;
    --CHROME-TOOLBAR-WIDTH: 30px;
    --CHROME-TOOLBAR-ICON-MARGIN: 3px 0px;
    --CHROME-TOOLBAR-SEPARATOR-MARGIN: 5px 3px;

    /* Chrome - Context Menu */
    --CHROME-CONTEXT-BG-COLOR: #2e2e2e;
    --CHROME-CONTEXT-BORDER-RADIUS: 14px;
    --CHROME-CONTEXT-PADDING: 7px;
    --CHROME-CONTEXT-BORDER: 1px solid black;
    --CHROME-CONTEXT-BOX-SHADOW: 2px 2px 3px rgb(0, 0, 0, 0.4);
    --CHROME-CONTEXT-ITEM-BG-COLOR: #2e2e2e;
    --CHROME-CONTEXT-ITEM-HOVER-BG-COLOR: #5e5e5e;
    --CHROME-CONTEXT-ITEM-TEXT-COLOR: #FFF;
    --CHROME-CONTEXT-ITEM-HOVER-TEXT-COLOR: #FFF;
    --CHROME-CONTEXT-ITEM-SHORTCUT-TEXT-COLOR: rgb(255, 255, 255, 0.5);
    --CHROME-CONTEXT-ITEM-BORDER-RADIUS: 8px;
    --CHROME-CONTEXT-ITEM-PADDING: 7px 0px 7px 18px;
    --CHROME-CONTEXT-SEPARATOR-COLOR: #5e5e5e;
    --CHROME-CONTEXT-SEPARATOR-PADDING: 5px;

    /* Chrome - Autoscroll */
    --CHROME-AUTOSCROLL-BG-COLOR: #5e5e5e;
    --CHROME-AUTOSCROLL-IMAGE-DEFAULT: url('./images/autoscroll.svg');
    --CHROME-AUTOSCROLL-IMAGE-HORIZONTAL: url('./images/autoscrollHorizontal.svg');
    --CHROME-AUTOSCROLL-IMAGE-VERTICAL: url('./images/autoscrollVertical.svg');
    --CHROME-AUTOSCROLL-SIZE: 28px;
    --CHROME-AUTOSCROLL-RADIUS: 100%;
    --CHROME-AUTOSCROLL-BORDER: 1px solid black;
    --CHROME-AUTOSCROLL-BOX-SHADOW: 0px 0px 3px rgba(0, 0, 0, 0.4);

    /* Content - Newtab */
    --CUSTOM-NEWTAB-URL-BGIMAGE: url('./images/NewtabBackground.png');
    --CUSTOM-NEWTAB-COLOR-FALLBACK-BG1: var(--CUSTOM-CHROME-COLOR-MAIN-BG);
    --CUSTOM-NEWTAB-COLOR-FALLBACK-BG2: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SHORTS-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SHORTS-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-SIZE-SHORTS-CONTAINER: 103px;
    --CUSTOM-NEWTAB-SIZE-SHORTS-GAP: 14px;
    --CUSTOM-NEWTAB-SIZE-SHORTS-ICON: 40px;
    --CUSTOM-NEWTAB-COLOR-CONTEXT-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-CONTEXT-HOVER-BG: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG) h s calc(l + 15));
    --CUSTOM-NEWTAB-COLOR-CONTEXT-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-OUTSIDE-BG: color-mix(in srgb, var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG) 60%, transparent);
    --CUSTOM-NEWTAB-COLOR-POPUP-BG: var(--CUSTOM-NEWTAB-COLOR-CONTEXT-BG);
    --CUSTOM-NEWTAB-COLOR-POPUP-BORDER: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BG) h s calc(l + 14));
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG: #222;
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-BORDER: var(--CUSTOM-NEWTAB-COLOR-POPUP-BORDER);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-SELECT-BG: var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BORDER);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-SELECT-TEXT: var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-BG1: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG) h s calc(l + 20));
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-BG2: #00d9ff;
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-SELECT-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);

    /* Content - About */
    --CUSTOM-ABOUT-COLOR-SIDEBAR-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-ABOUT-COLOR-SIDEBAR-BUTTON-TEXT: #00d9ff;
    --CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG: #222;
    --CUSTOM-ABOUT-COLOR-CONTENT-TEXT: white;
    --CUSTOM-ABOUT-COLOR-CONTENT-BG: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 8));
    --CUSTOM-ABOUT-COLOR-CONTENT-DROPDOWN-SELECTED: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 20));
    --CUSTOM-ABOUT-COLOR-CONTENT-DROPDOWN-HOVER: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 10));
    --CUSTOM-ABOUT-COLOR-BUTTON-FF-BG: #00a2ff;
}