@import "style.css";

/* ========================================================================== */
/* ================================= GENERAL ================================ */
/* ========================================================================== */
/*
- Force darkmode on all icons
*/
:root,
:root * {
    color-scheme: dark !important;
}

/*
- Set the background of the blank loading page
*/
browser {
    background-color: #222 !important;
}

/* ========================================================================== */
/* ================================= TOOLBAR ================================ */
/* ========================================================================== */
/*
- Increase z to make toolbar visible over the browser page
(Container to all chrome elements - title, navbar, toolbar...)
*/
#navigator-toolbox {
    z-index: 999 !important;
}

/*
- Position the container on the left side; match the top to navbar, and bottom
to the browser edge
- Match the navbar border
- Position elements as a column
- Set width
- Remove the existing transition
(Highest toolbar container)
*/
#PersonalToolbar {
    position: fixed !important;
    top: calc(var(--CUSTOM-CHROME-SIZE-TITLE-HEIGHT) + 37px) !important;
    min-height: 0px !important;
    height: calc(100vh - var(--CUSTOM-CHROME-SIZE-TITLE-HEIGHT) - 37px) !important;
    max-height: calc(100vh - var(--CUSTOM-CHROME-SIZE-TITLE-HEIGHT) - 37px) !important;
    border-top: var(--CHROME-TOOLBAR-EDGE-BORDER) !important;
    flex-direction: column !important;
    width: var(--CHROME-TOOLBAR-WIDTH) !important;
    transition: none !important;
}

/*
- Remove the existing min sizes
(Highest bookmark list container)
*/
#PersonalToolbar #personal-bookmarks {
    min-height: 0px !important;
    min-width: 0px !important;
}

/*
- Position elements as a column
(Bookmark list container)
*/
#PersonalToolbar #PlacesToolbar {
    flex-direction: column !important;
    align-items: center !important;
}

/*
- Remove the chevron button (It doesn't act rigth since it triggers
with width overflow. Even when it is made visible with tricks,
it shows an empty box. I made bookmarks scrollable anyways.)
*/
#PersonalToolbar #PlacesChevron {
    display: none !important;
}

/*
- Force the element to be block type; otherwise, FF ignores the flex-direction
- Update overflow to make the overflowing bookmarks scrollable without
- Make the scroll itself invisible
- Remove color scheme (makes icons change based on light-dark mode otherwise)
(Bookmark list container)
*/
#PersonalToolbar #PlacesToolbarItems {
    display: block !important;
    overflow: auto;
    scrollbar-width: none !important;
    color-scheme: none !important;
}

/*
- Remove existing padding
- Set custom margin
(Container for all toolbal buttons including bookmark icons)
*/
#PersonalToolbar toolbarbutton {
    padding: 0px !important;
    margin: var(--CHROME-TOOLBAR-ICON-MARGIN) !important;
}

/*
- Remove the existing margin
- Match size and padding to other toolbar icons
(Bookmark list item icons)
*/
#PersonalToolbar #PlacesToolbarItems .toolbarbutton-icon {
    margin: 0px !important;
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    padding: var(--toolbarbutton-inner-padding) !important;
}

/*
- Remove all text
(Bookmark list item labels)
*/
#PersonalToolbar #PlacesToolbarItems .toolbarbutton-text {
    display: none !important;
}

/*
- Remove the existing border
- Add slight margin to make it selectable
- Expand the entire width
- Height of one pixel (use background instead of borders)
- Set to the same color as other icons
(Bookmark list item seperators)
*/
#PersonalToolbar #PlacesToolbarItems toolbarseparator::before {
    border-inline-start: none !important;
    margin: var(--CHROME-TOOLBAR-SEPARATOR-MARGIN) !important;
    width: 100% !important;
    height: 1px !important;
    background: var(--toolbarbutton-icon-fill) !important;
}

/*
- Make the empty area behind the toolbar the same as toolbar color (for when
the toolbar is made invisible with ctrl+shift+b)
*/
html {
    background: var(--CHROME-TOOLBAR-BG) !important;
}

/*
- Push the browser right the same amount as the toolbar width
(Highest container for the browser page)
*/
#browser {
    margin-left: var(--CHROME-TOOLBAR-WIDTH) !important;
    border-left: var(--CHROME-TOOLBAR-EDGE-BORDER) !important;
}

/*
Remove the previous browser margin and the border if:
    - The toolbar is hidden
    - The browser is in fullscreen
*/
html:has(#PersonalToolbar[collapsed='true']) #browser,
html[inFullscreen='true'] #browser {
    --CHROME-TOOLBAR-WIDTH: 0px !important;
    --CHROME-TOOLBAR-EDGE-BORDER: none !important;
}

/* ========================================================================== */
/* ================================= CONTEXT ================================ */
/* ========================================================================== */
/*
- Remove the background (setting background to transparent isn't enough)
(Biggest container for all context menus)
*/
menupopup {
    -moz-appearance: none !important;
}

/*
- Style through variables
(Class for the inner container of all context menus, inside a shadowroot under menupopup element)
*/
.menupopup-arrowscrollbox {
    background: var(--CHROME-CONTEXT-BG-COLOR) !important;
    box-shadow: var(--CHROME-CONTEXT-BOX-SHADOW) !important;
    border: var(--CHROME-CONTEXT-BORDER) !important;
    border-radius: var(--CHROME-CONTEXT-BORDER-RADIUS) !important;
    padding: var(--CHROME-CONTEXT-PADDING) !important;
}

/*
- Style through variables
(Context menu items)
*/
menupopup menuitem,
menupopup menu {
    background: var(--CHROME-CONTEXT-ITEM-BG-COLOR) !important;
    color: var(--CHROME-CONTEXT-ITEM-TEXT-COLOR) !important;
    border-radius: var(--CHROME-CONTEXT-ITEM-BORDER-RADIUS) !important;
    padding: var(--CHROME-CONTEXT-ITEM-PADDING) !important;
}

/*
- Style bg and text through variables
(Context menu items when hovering)
*/
menupopup menuitem[_moz-menuactive],
menupopup menu[_moz-menuactive] {
    background: var(--CHROME-CONTEXT-ITEM-HOVER-BG-COLOR) !important;
    color: var(--CHROME-CONTEXT-ITEM-HOVER-TEXT-COLOR) !important;
}

/*
- Style bg and text through variables
(Shortcut text that appars when hovering over context menu items)
*/
menupopup menuitem[_moz-menuactive] .menu-accel-container *,
menupopup menu[_moz-menuactive] .menu-accel-container * {
    color: var(--CHROME-CONTEXT-ITEM-SHORTCUT-TEXT-COLOR) !important;
}

/*
- Change the padding
(Context menu seperator containers)
*/
menupopup menuseparator {
    padding: var(--CHROME-CONTEXT-SEPARATOR-PADDING) !important;
}

/*
- Change the color
(Context menu seperators)
*/
menupopup menuseparator:before {
    border-top: 1px solid var(--CHROME-CONTEXT-SEPARATOR-COLOR) !important;
}

/*
- Remove them
(Context menu icon buttons and the first seperator)
*/
menupopup #context-navigation .menuitem-iconic,
menupopup #context-sep-navigation {
    display: none !important;
}

/* ========================================================================== */
/* =============================== AUTOSCROLL =============================== */
/* ========================================================================== */
/*
- Make shadow element invisible through variables, treat this container
as the icon instead
- Style through variables
(Autoscroller icon container)
*/
.autoscroller {
    --panel-background: transparent !important;
    --panel-border-color: none !important;
    --panel-shadow: none !important;

    height: var(--CHROME-AUTOSCROLL-SIZE) !important;
    width: var(--CHROME-AUTOSCROLL-SIZE) !important;
    border-radius: var(--CHROME-AUTOSCROLL-RADIUS) !important;
    background-color: var(--CHROME-AUTOSCROLL-BG-COLOR) !important;
    background-image: var(--CHROME-AUTOSCROLL-IMAGE-DEFAULT) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: var(--CHROME-AUTOSCROLL-BORDER) !important;
    box-shadow: var(--CHROME-AUTOSCROLL-BOX-SHADOW) !important;
}

/*
- Use a different image
(Autoscroller icon container when scrolling vertical only)
*/
.autoscroller[scrolldir="NS"] {
    background-image: var(--CHROME-AUTOSCROLL-IMAGE-VERTICAL) !important;
}

/*
- Use a different image
(Autoscroller icon container when scrolling horizontal only)
*/
.autoscroller[scrolldir="EW"] {
    background-image: var(--CHROME-AUTOSCROLL-IMAGE-HORIZONTAL) !important;
}