@import url(variables.css);

/* ----------------------------- Newtab related ----------------------------- */
@-moz-document url-prefix(about:home), url-prefix(about:newtab) {

    /*
    - Add background image with gradient fallback
    */
    body {
        background:
            var(--CUSTOM-NEWTAB-URL-BGIMAGE),
            radial-gradient(ellipse, var(--CUSTOM-NEWTAB-COLOR-FALLBACK-BG1) 20%, var(--CUSTOM-NEWTAB-COLOR-FALLBACK-BG2)) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

    /*
    - Move the cog closer to the edge
    (The settings cog button for the entire page)
    */
    menu.personalizeButtonWrapper {
        inset-block-end: 5px !important;
        inset-inline-end: 5px !important;
    }

    /*
    - Remove evertything except shortcuts
    */
    div.non-collapsible-section,
    div.body-wrapper.on>div:nth-child(2) {
        display: none !important;
    }

    /*
    - Remove the padding at the top, so lower elements can get flush
    (Container for everything)
    */
    div.outer-wrapper {
        padding-top: 0px !important;
    }

    /*
    - Allign all elements to the very top
    (Container for everything)
    */
    main.newtab-main {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: center !important;
    }

    /*
    - Remove the padding at the top
    (High level container around shorts)
    */
    section.collapsible-section.top-sites {
        padding: 0px !important;
    }

    /*
    - Make the elements flush with the top, and make them move away as the
    page page gets larger
    - Remove the hard-coded width so shorts allign properly
    (The main container for the entire shorts)
    */
    div.body-wrapper.on {
        position: relative !important;
        top: max(0.5rem, calc(14% - 85px)) !important;
        width: auto !important;
    }

    /*
    - Remove the margin at the bottom
    (High level container around shorts)
    */
    section.collapsible-section {
        margin-bottom: 0px !important;
    }
}