@import "./style.css";
@import "./userChrome/toolbar.css";
@import "./userChrome/context.css";
@import "./userChrome/autoscroll.css";

/* ========================================================================== */
/* ================================= GENERAL ================================ */
/* ========================================================================== */
/*
- Force darkmode on all icons
*/
:root,
:root * {
    color-scheme: dark !important;
}

/*
- Set the background of the blank loading page
*/
browser {
    background-color: #222 !important;
}
