:root {
    /* To be refactored */
    --CUSTOM-CHROME-COLOR-MAIN-BG: #4D4D4D;
    --CUSTOM-CHROME-COLOR-SEARCHBAR-BG: #111;
    --CUSTOM-CHROME-COLOR-TAB-TEXT: #FFFFFF;

    /* Chrome */
    --CUSTOM-CHROME-COLOR-TITLE-BG: #4D4D4D;
    --CUSTOM-CHROME-COLOR-TOOLBAR-BG: #2B2B2B;
    --CUSTOM-CHROME-COLOR-ICON-TEXT: #FFFFFF;
    --CUSTOM-CHROME-COLOR-ICON-HOVER-BG: color-mix(in srgb, currentColor 22%, transparent);
    --CUSTOM-CHROME-COLOR-TABS-BG: #2B2B2B;
    --CUSTOM-CHROME-COLOR-TABS-SELECT-BG: #797979;
    --CUSTOM-CHROME-COLOR-TABS-TEXT: #FFFFFF;
    --CUSTOM-CHROME-COLOR-TABS-SELECT-TEXT: #FFFFFF;
    --CUSTOM-CHROME-SIZE-TABS-GAP: 2px;

    /* Chrome - Urlbar */
    --CUSTOM-CHROME-COLOR-URLBAR-BG: #141414;
    --CUSTOM-CHROME-COLOR-URLBAR-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-URLBAR-LINK-TEXT: #00d9ff;
    --CUSTOM-CHROME-COLOR-URLBAR-HOVER-BG: #313131;
    --CUSTOM-CHROME-COLOR-URLBAR-SELECT-BG: #0085ff;
    --CUSTOM-CHROME-COLOR-URLBAR-SELECT-TEXT: #FFF;
    --CUSTOM-CHROME-COLOR-URLBAR-OUTLINE: #00d9ff;

    /* Content - Newtab */
    --CUSTOM-NEWTAB-URL-BGIMAGE: url('./images/NewtabBackground.png');
    --CUSTOM-NEWTAB-COLOR-FALLBACK-BG1: var(--CUSTOM-CHROME-COLOR-MAIN-BG);
    --CUSTOM-NEWTAB-COLOR-FALLBACK-BG2: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SHORTS-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SHORTS-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-SIZE-SHORTS-CONTAINER: 103px;
    --CUSTOM-NEWTAB-SIZE-SHORTS-GAP: 14px;
    --CUSTOM-NEWTAB-SIZE-SHORTS-ICON: 40px;
    --CUSTOM-NEWTAB-COLOR-CONTEXT-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-CONTEXT-HOVER-BG: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG) h s calc(l + 15));
    --CUSTOM-NEWTAB-COLOR-CONTEXT-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-OUTSIDE-BG: color-mix(in srgb, var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG) 60%, transparent);
    --CUSTOM-NEWTAB-COLOR-POPUP-BG: var(--CUSTOM-NEWTAB-COLOR-CONTEXT-BG);
    --CUSTOM-NEWTAB-COLOR-POPUP-BORDER: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BG) h s calc(l + 14));
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG: #222;
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-BORDER: var(--CUSTOM-NEWTAB-COLOR-POPUP-BORDER);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-SELECT-BG: var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BORDER);
    --CUSTOM-NEWTAB-COLOR-POPUP-BOX-SELECT-TEXT: var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-TEXT);
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-BG1: hsl(from var(--CUSTOM-NEWTAB-COLOR-POPUP-BOX-BG) h s calc(l + 20));
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-BG2: #00d9ff;
    --CUSTOM-NEWTAB-COLOR-POPUP-BUTTON-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-TEXT: var(--CUSTOM-CHROME-COLOR-TAB-TEXT);
    --CUSTOM-NEWTAB-COLOR-SETTINGS-SELECT-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);

    /* Content - About */
    --CUSTOM-ABOUT-COLOR-SIDEBAR-BG: var(--CUSTOM-CHROME-COLOR-TOOLBAR-BG);
    --CUSTOM-ABOUT-COLOR-SIDEBAR-BUTTON-TEXT: #00d9ff;
    --CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG: #222;
    --CUSTOM-ABOUT-COLOR-CONTENT-TEXT: white;
    --CUSTOM-ABOUT-COLOR-CONTENT-BG: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 8));
    --CUSTOM-ABOUT-COLOR-CONTENT-DROPDOWN-SELECTED: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 20));
    --CUSTOM-ABOUT-COLOR-CONTENT-DROPDOWN-HOVER: hsl(from var(--CUSTOM-ABOUT-COLOR-CONTENT-BOX-BG) h s calc(l + 10));
    --CUSTOM-ABOUT-COLOR-BUTTON-FF-BG: #00a2ff;
}